.caixa1,.caixa2 {
    height: 60vh;
    width: 99vw;
    background-repeat: no-repeat;
    background-size: 100vw 80vh;
    background-position: center;
    background-attachment: fixed;

}

.caixa1 {
    background-image: url(/Qualityti-Site2/IMG/BemVindo/banner_001-desktop.png);
}

.caixa2 {
    background-image: url(/Qualityti-Site2/IMG/BemVindo/banner_002-desktop.png);
}