* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: lightgray;
    
}

.cabecalho {
    background-color: rgb(202, 202, 202);
    border-bottom: solid 5px #154585;
    height: 80px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    
}

.logo {
    display: inline-block;
    height: 80px;
    padding: 15px;
}

.logo img {
    height: 100%;
}

.menu-toggle {
    float:right;
    color:#eee;
    background-color: #555;
    border: solid 1px #777;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 24px;
    
    
}

.menu ul {
    margin: 0;
    padding: 0;
    
}

.menu li {
    display: inline-block;
    
    
}

.cabecalho a {
    text-decoration: none;
    color: #154585;
    font-size: 1.3em;
    border-radius: 15px 15px 0px 0px;
    
}

.menu a {
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: all 0.3s;
  
}


menu a:hover{
    background-color: #3779cf;
    transition: all 0.5s;
}

.menu a:hover{
    background-color: #1546853a;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.6);
    /*color: #000;*/
    color: white;
    transition: all 0.5s;
}



.menu a.selected {
    background-color: #154585;
    /*color: #000;*/
    color: white;
    
}

.destaque {
    background: #f50a31;
    color: #fff;
}
@media(min-width: 894px){
    .menu-toggle {
        display: none;
    }
}

@media(max-width: 895px){
    .menu {
        display: none;
    }
}
