* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    /*font-family: 'Oswald', sans-serif;*/
}



html, body {
    box-sizing: border-box;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}

a {
    text-decoration: none;
}


/* ***************INICIO DA CONFIGURAÇÃO DE HEADER**************/
/*.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(202, 202, 202);
    border-bottom: solid 1vh #154585; 
    flex-direction: column;
}*/

.qti-header-logo {
    margin: 0vh 2vw 0vh 5vw;
    
      
}

.qti-header-logo img {
    height: 10vh;
    padding-bottom: 1vh;
    
}

.menu-topo {
    margin-right: 5vw;
    margin-left: 0vw;  
    
}

.menu-topo ul {
    display: flex;   
    vertical-align: top;
    align-items: center;
}

.menu-topo ul li a{
    display: block;
    padding: 5vh 1vw ;
    color: #154585;
    border-radius: 15px 15px 0px 0px;
    
}

.menu-topo a:hover{
    background-color: #3779cf;
    transition: all 0.5s;
}

.menu-topo a:hover{
    background-color: #1546853a;
    box-shadow: 5px 0px 0px rgba(0, 0, 0, 0.3);
    color: white;
    transition: all 0.5s;
}

.menu-topo a.selected {
    background-color: #154585;
    box-shadow: 5px 0px 0px rgba(0, 0, 0, 0.6);
    color: white;
    transition: all 0.3s;
}

.qti-header-button {
    float:right;
    color:#eee;
    background-color: rgb(85, 85, 85);
    border: solid 1px #777;
    border-radius: 1vh;
    margin: 10px 40px;
    padding: 1vh 2vw;
}

/* ***************FINAL DA CONFIGURAÇÃO DE HEADER**************/

/* ***************INICIO DA CONFIGURAÇÃO DE MAIN**************/



.qti-main {
    height: auto;
    width: auto;
    background: orange;
}

.qti-main{
    justify-self: first baseline;
}


footer{
    background: green;
   
}

.qti-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: calc(100vh - 100px);
    height: auto;
}



.g-pri {
    background: radial-gradient(circle,#DFDFDF,#FFFFFF);
    color: #5B5B5F;
    border-top: 10px solid #005baa;
    border-bottom: 10px solid #005baa;
}

.g-pri.qti-section >:first-child h1 {
    color: rgba(38,151,253,0.3);
    filter:blur(4px)
}
.qti-section >:first-child *, .qti-section >:first-child h1, .qti-section >:first-child h2 {
    width: 100%;
}
.qti-section >:first-child h1 {
    position: absolute;
}
.qti-section >:first-child h1 {
    letter-spacing: 2px;
}

/*

 
    justify-content: center;
    
    
*/




@media (min-width:0px) and (max-width:740px){
    .menu-topo{
        display: none;
    }

    .qti-header {
        padding-top: 2vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(202, 202, 202);
        border-bottom: solid 1vh #154585; 
        /*position: sticky;
        top: 0;*/  /*Fixar o menu superior na parte superior*/
    }

}

@media (min-width:740px) and (max-width:1099px){

    .qti-header {
        padding-top: 2vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(202, 202, 202);
        border-bottom: solid 1vh #154585; 
        flex-direction: column;
    }
    
    .qti-header-button {
        display: none;
    }
}

@media (min-width:1099px){
    .qti-header {
        padding-top: 2vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(202, 202, 202);
        border-bottom: solid 1vh #154585; 
        /*position: sticky;
        top: 0;*/  /*Fixar o menu superior na parte superior*/
    }

    .qti-header-button {
        display: none;
    }

}































/*
@media (max-width:767px){
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .navbar {   
        box-sizing: content-box;
        display: flex;
        justify-content: space-between;
        
    }
    
    /*.logo-marca {   
        background: cornflowerblue;
        height: 10vh;
        width: 20vw;    
    }
    
    .menu-navbar {
        background: rgb(235, 65, 184);
        height: 10vh;
        width: 75vw;
        display: none;
    }

    .qti-header-button {
        display: inline;
    }

}

@media (min-width:768px) and (max-width:1024px){
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .navbar {   
        box-sizing: content-box;
        display: grid;
        justify-content: center;
        
    }
    
    .logo-marca {   
        background: cornflowerblue;
        height: 10vh;
        
          
    }
    
    .menu-navbar {
        background: rgb(235, 65, 184);
        height: 10vh;
        
    }

    .qti-header-button {
        display: none;
    }

}


@media (min-width:1024px){
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    } 

} */

/*MUDA A POSIÇÃO DA LOGO PARA BAIXO DO MENU*/
/*flex-direction: column;*/