body {
    background: #007fc7;
}

#principal {
    width: 920px;
    margin: auto auto;
}

h2, a{
    background-color: #002B5A;
    color: #DFDFDF;
    padding: 5px;
    margin: 5px;
}

h2 {
    text-shadow:2px 2px 2px black;
}

a:hover{
    background-color: #3d83ce;
    color: #DFDFDF;
    padding: 10px;
    margin: 10px;
}

img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.imagem-galeria {
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
    margin: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.imagem-galeria:hover {
    background: #c0e6f8;
    width: 265px;
    padding: 5px;
    float: center;
    margin: 15px;
    box-shadow: 5px 5px 5px rgba(192, 246, 255, 0.603);
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
}

.clear {
    clear: both;
}

