.qti-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qti-slider > ul > li > picture > img{
    width: 100%;
    height: 100%;
}
.qti-banner1 { 
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}
.qti-banner2 { 
    overflow: hidden;
    display: none;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.qti-banner3 { 
    overflow: hidden;
    display: none;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

/*

 
    justify-content: center;
    
    
*/

/*Ajuste de textos sobre slide*/
.texto-slide01-img01{
    margin-left: 13vw;
    position: absolute;
    text-align: center;
}
.texto-slide01-img01 > h1{
    color: #DFDFDF;
    font-size: 4vw;
    text-shadow: 1px 1px 4px black;  
}
.texto-slide01-img01 > h1 > strong{
    font-size:9vw;
    text-shadow: 1px 1px 4px black;
    
}
.texto-slide01-img01 h2 {
    color: #DFDFDF;
    background:#154585 ;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 1px 1px 4px black;
    font-family: 'Roboto',sans-serif;   
}
.texto-slide01-img01 h2 strong {
    font-size: 4vw;
    color: #50BDEB;
    text-shadow: 1px 1px 4px black;
}

.texto-slide01-img02{
    margin-left: 57vw;
    position: absolute;
    text-align: center;
}


.texto-slide01-img02 h2 {
    font-size: 4vw;
    color: #DFDFDF;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 1px 1px 4px black;
    font-family: 'Roboto',sans-serif;   
}
.texto-slide01-img02 strong {
    font-size: 5vw;
    color: #50BDEB;
    text-shadow: 1px 1px 4px black;
}

.texto-slide01-img03{
    margin-left: 57vw;
    position: absolute;
    text-align: center;
}

.texto-slide01-img03 h2 {
    font-size: 4vw;
    color: #DFDFDF;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 1px 1px 4px black;
    font-family: 'Roboto',sans-serif;   
}
.texto-slide01-img03 strong {
    font-size: 5vw;
    color: #50BDEB;
    text-shadow: 1px 1px 4px black;
}


.controle-slide{
    width: 100%;
    height: 26vh;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.anterior, .proximo {
    position: relative;
    height: 4vh;
    width: 4vw;
    background-color: rgba(47, 108, 168, 0.4);
    color: rgba(255, 255, 255, 0.2);
    font-size: 80px;
    line-height: 150px;
    cursor: pointer;
    /*border:1px solid white;*/
    border: 1px solid rgba(255, 255, 255, .2);
    padding-bottom: 20vh;
    z-index: 5;

   
}

.anterior {
    border-radius: 0px 10px 10px 0px;
    float: left;

}
.proximo {
    border-radius: 10px 0px 0px 10px;
    float: right;

}

.anterior:hover{
    background-color: rgba(44,62,80, .7 )!important;
}

.proximo:hover{
    background-color: rgba(44,62,80, .7 )!important;
}